#accepted {
	color: green;
}

#denied {
	color: red;
}

.content {
	text-align: left;
}

.counter {
	text-align: right;
}

.listStyle {
	padding-left: 25px;
	width: 690px;
}

h4 {
	text-align: left;
	padding-left: 25px;
}
