.accepted {
	color: green;
}

.denied {
	color: red;
}

.explanation {
	width: 100%;
}

.content {
	text-align: left;
}

.counter {
	text-align: right;
}

.listStyleA {
	padding-left: 25px;
	width: 690px;
}

.listStyleE {
	padding-left: 25px;
	padding-right: 25px;
	width: 65%;
}

h4 {
	text-align: left;
	padding-left: 25px;
}
