

.left{
	display: inline-block;
	width: 40%;
	margin-right: 2.5%;
}
.right{
	display: inline-block;
	width: 40%;
	margin-left: 2.5%;
}

.top{
	text-align: left;
	margin-top: 1em;
	margin-bottom: 0.5em;
}

ul{
	text-align: left;
}

li{
	margin-top: 10px;
}

.inp{
	margin-left: 0.5em;
}

.edit.butn, .delete.butn, .sked.butn{
	margin-left: 0.75em;
	font-size: 14px;
	padding: 1px 4px;

}
